<br>

# Listas

_Scripts_ para demonstrar o uso da _classe_ `Lista`.

O _Conselho Federal de Medicina_ disponibiliza chamadas de API para listar três tópicos:

- Estados
- Especialidades Médicas
- Áreas de Atuação

<br>

Logo, foi desenvolvido uma _classe_ que permite a consulta dessas listas e é possível retornar os resultados em formado _json_ ou _dataframe_ ([pandas](https://pypi.org/project/pandas/)).

In [23]:
import pprint

import pycfm as cfm

<br>

-----

## Estado

In [24]:
lista = cfm.Lista(lista='estado')
lista.as_dataframe.head()

  SG_UF     DS_UF
0    AC      ACRE
1    AL   ALAGOAS
2    AM  AMAZONAS
3    AP     AMAPÁ
4    BA     BAHIA

In [25]:
pprint.pprint(lista.as_json[:5])

[{'DS_UF': 'ACRE', 'SG_UF': 'AC'},
 {'DS_UF': 'ALAGOAS', 'SG_UF': 'AL'},
 {'DS_UF': 'AMAZONAS', 'SG_UF': 'AM'},
 {'DS_UF': 'AMAPÁ', 'SG_UF': 'AP'},
 {'DS_UF': 'BAHIA', 'SG_UF': 'BA'}]

<br>

---

## Especialidade

In [26]:
lista = cfm.Lista(lista='especialidade')
lista.as_dataframe.head()

  ID_ESPECIALIDADE          DS_ESPECIALIDADE
0               66                ACUPUNTURA
1               97    ADMINISTRAÇÃO EM SAÚDE
2                1  ADMINISTRAÇÃO HOSPITALAR
3                2      ALERGIA E IMUNOLOGIA
4               98  ALERGIA E IMUNOPATOLOGIA

In [27]:
pprint.pprint(lista.as_json[:5])

[{'DS_ESPECIALIDADE': 'ACUPUNTURA', 'ID_ESPECIALIDADE': '66'},
 {'DS_ESPECIALIDADE': 'ADMINISTRAÇÃO EM SAÚDE', 'ID_ESPECIALIDADE': '97'},
 {'DS_ESPECIALIDADE': 'ADMINISTRAÇÃO HOSPITALAR', 'ID_ESPECIALIDADE': '1'},
 {'DS_ESPECIALIDADE': 'ALERGIA E IMUNOLOGIA', 'ID_ESPECIALIDADE': '2'},
 {'DS_ESPECIALIDADE': 'ALERGIA E IMUNOPATOLOGIA', 'ID_ESPECIALIDADE': '98'}]

<br>

---

## Atuação

In [28]:
lista = cfm.Lista(lista='atuação')
lista.as_dataframe.head()

  ID_AREA_ATUACAO                  DS_AREA_ATUACAO
0               2         Administração Hospitalar
1               1           Administração em Saúde
2              81                     Adolescência
3               3  Alergia e Imunologia Pediátrica
4               4                       Andrologia

In [29]:
pprint.pprint(lista.as_json[:5])

[{'DS_AREA_ATUACAO': 'Administração Hospitalar', 'ID_AREA_ATUACAO': '2'},
 {'DS_AREA_ATUACAO': 'Administração em Saúde', 'ID_AREA_ATUACAO': '1'},
 {'DS_AREA_ATUACAO': 'Adolescência', 'ID_AREA_ATUACAO': '81'},
 {'DS_AREA_ATUACAO': 'Alergia e Imunologia Pediátrica', 'ID_AREA_ATUACAO': '3'},
 {'DS_AREA_ATUACAO': 'Andrologia', 'ID_AREA_ATUACAO': '4'}]